.section-work-data {
	/* background: var(--gradientSupport); */
	text-align: center;
	color: var(--white);
	transition: all 0.7s linear;
}

.counter-numbers {
	font-size: 4rem;
}

.section-work-data p {
	color: var(--white);
	text-transform: capitalize;
}
