.reviews_container {
	padding: 2rem;
	max-height: 800px;

	overflow-y: scroll;
	z-index: 11;
}
.input_box {
	min-width: 80%;
	border-bottom: 1px solid rgba(255, 252, 252, 0.918);
	border-radius: none;
	outline: none;
	margin-left: 10px;
	background-color: rgba(255, 255, 255, 0);
}

.review_div {
	background-color: rgb(44, 44, 44);
	border: 1px solid white;
	border-radius: 10px;
	max-width: 500px;
	/* min-height: 50px; */
	position: relative;
	padding: 0.5rem;
	font-weight: bold;
	text-align: center;
}
.review_div p {
	color: rgb(255, 255, 255);
	padding: 1rem;
	font-weight: 300;
}
.review_container {
	position: relative;
	margin-top: 2rem;
}

.avatar_container {
	position: absolute;
	top: -0.5rem;
	left: -7rem;
	width: 100px;
	text-align: center;
}
.review_div .avatar_container p {
	padding: 0;
}

.img_rounded {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 1rem;
}

.review_date {
	position: absolute;
	right: 0;
	top: -2.5rem;
	font-size: 12px;
	font-weight: 400;
}

.review_div::before {
	content: '';
	position: absolute;
	top: 5%;
	bottom: 5%;
	left: -3.6rem;
	transform: rotateZ(-90deg);
	border: 1.5rem solid red;
	border-color: transparent;

	border-bottom: 2rem solid white;
}

.reviewer_name {
	font-size: 12px;
}

@media only screen and (max-width: 700px) {
	.review_div {
		border-radius: 10px;
		max-width: auto;
		margin-top: 8rem;
	}
	.avatar_container {
		position: absolute;
		display: flex;
		/* justify-content: center; */
		align-items: center;
		top: -4rem;
		left: 10%;
		width: 100px;
		/* text-align: center; */
	}
	.review_div .avatar_container p {
		padding: 0;
		margin-left: 1rem;
		margin-bottom: 2rem;
	}
	.review_div::before {
		display: none;
	}
	.review_div .avatar_container .img_rounded {
		margin-bottom: 2rem;
	}
}
